@model TEST.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Edit category</h1>

<hr />

<form asp-action="Edit" class="text-white">
    <div class="border p-3 mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" />
            <label asp-for="Name" class="control-label"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="DisplayOrder" class="form-control" />
            <label asp-for="DisplayOrder" class="control-label"></label>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="CreatedDate" class="form-control" />
            <label asp-for="CreatedDate" class="control-label"></label>
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-controller="Categories" asp-action="Index" class="btn btn-primary" style="width: 150px;">Back to list</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
