@model TEST.Models.VaccineSchedule

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Vaccine Details</h4>
    <hr />
</div>
<div>
    <div class="row">
         <div class="col">
            <p>Vaccine Name: @Model.Vaccine.Name</p>
            <p>Manufacturing Country: @Model.Vaccine.Country</p>
            <p>Expiration Date: @Model.Vaccine.ExpirationDate</p>
         </div>
    </div>
   
    <div>
        <a asp-area="Customer" asp-controller="Basket" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary">
            Add To Cart
        </a>
        <a asp-action="Index" class="btn btn-primary" style="width: 150px;">Back to Home</a>
    </div>
</div>

